<%- include('./partials/head') %> <%- include('./partials/navbar') %>
<section id="products">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <!-- <form
          action="#"
          class="d-flex justify-content-center align-items-center"
          autocomplete="off"
        >
          <div class="col mb-3">
            <input type="text" name="search" id="input" class="form-control" />
          </div>
          <div class="col">
            <button class="btn btn-success mb-3" onclick="getSearch()">
              search
            </button>
          </div>
        </form> -->
        <div
          class="wrapper d-flex justify-content-center align-items-center flex-wrap"
        >
          <table class="table" id="table_products">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
              </tr>
            </thead>
            <tbody id="getBody">
              <% result.forEach(e => { %>
              <tr>
                <td><%= e.title %></td>
                <td><%= e.author %></td>
                <td><%= e.publisher %></td>
                <td><%= e.price %></td>
                <td><%= e.image %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <!-- <nav
            aria-label="Page navigation justify-content-center align-items-center"
          >
            <ul class="pagination mx-auto">
              <li class="page-item">
                <a class="page-link" id="previous">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" id="next">Next</a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #products {
    margin-top: 5em;
  }
</style>

<%- include('./partials/footer') %>
